h1{
    text-align: center;
    text-decoration: underline;
    text-transform: inherit;
    font-size: 70px;
    font-family: arial;
    letter-spacing: 20px;
    color: rgb(51, 255, 0);
}

p{
    text-align: left;
    text-indent: 10px;
}

a{
    text-decoration: none;
}
